<!DOCTYPE html>
<html>
<head>
    <title>My Go Web App</title>
</head>
<body>
    <h1>Hello,World!</h1>

    <img src="/image/ratio.jpg" alt="Sample Image" width="300" height="200">

    <button onclick="buttonClicked(1)">Button 1</button>
    <button onclick="buttonClicked(2)">Button 2</button>
    <button onclick="buttonClicked(3)">Button 3</button>
    <button onclick="buttonClicked(4)">Button 4</button>

    <script>
        function buttonClicked(buttonNumber) {
            alert("Button " + buttonNumber + " clicked!");
        }
    </script>
</body>
</html>
